<?enunciate-assumed-base-uri https://api.rezdy.com/v1/?><wadl:application><wadl:doc enunciate:generatedBy="Enunciate-2.0"/><wadl:grammars><wadl:include href="rezdy.xsd"/></wadl:grammars><wadl:resources base="https://api.rezdy.com/v1/"><wadl:resource path="availability"><wadl:method name="GET"><wadl:doc>Load availability information for a specific date range.

This will return a list of sessions, including their availability and pricing details.

<p>
Pricing in the session can be different than the pricing of the products, in a case when a supplier overrides a price for a specific session or a ticket type.
</p>
<p>
Since Rezdy introduced shared availability option for products, the product sessions can contain price overrides for all of the products, which share the sessions. Therefore it is necessary to filer only the price options matching the chosen product code on the client side, when processing /availability service responses.
</p></wadl:doc><wadl:request><wadl:param name="endTime" style="query"><wadl:doc>End time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="endTimeLocal" style="query"><wadl:doc>End time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="minAvailability" style="query"><wadl:doc>(optional) only load availability for that quantity</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="productCode" style="query"><wadl:doc>Product code in format P12345. You can request multiple products: "productCode=P11111&productCode=P22222&productCode=P33333", which belong to a single supplier.</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response sessions will contain an array of Session</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="availability"><wadl:method name="POST"><wadl:doc>Create a new session - creates availability for a specific startTime.</wadl:doc><wadl:request><wadl:doc>session data. Should only contain productCode, startTime and seats, optionally priceOptions, if you wish to override the default product prices. Example:
<pre><code>{
     "productCode": "PF6B25",
     "startTime": "2014-11-07T22:00:00Z",
     "seats": "12"
     "priceOptions": [
        {
          "price": 90,
          "label": "Adult"
        }
      ]
 }
 </code></pre>
The endTime will be calculated based on selected product default duration, and the current product price options will be used (if not specified). Does not support resources yet</wadl:doc><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:session">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>Response data will contain the newly created Session</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="bookings"><wadl:method name="POST"><wadl:doc>Create a new booking.

Most of the Booking and BookingItem fields are not required to create a booking. Please check our Getting Started guides for sample requests.</wadl:doc><wadl:request><wadl:doc>Booking object should only contain the fields required to create a booking. Please check our Getting Started guides for sample requests.</wadl:doc><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:booking">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>Response data will contain the created Booking</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="bookings"><wadl:method name="GET"><wadl:doc>Search bookings in your account</wadl:doc><wadl:request><wadl:param name="createdSince" style="query"><wadl:doc>(optional) Only load bookings created after this time. Use it to only load bookings created after your last call. ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="maxTourStartTime" style="query"><wadl:doc>(optional) Only load bookings with a booked time that starts before or on this time. This is not the booking creation date, it is the booked date. ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="minTourStartTime" style="query"><wadl:doc>(optional) Only load bookings with a booked time that starts on or after this time. This is not the booking creation date, it is the booked date. ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="orderStatus" style="query"><wadl:doc>(optional) Order status to filter results</wadl:doc></wadl:param><wadl:param name="productCode" style="query"><wadl:doc>(optional) Product code, to only load bookings for a specific product. Multiple values allowed: &productCode=P11111&productCode=P22222</wadl:doc></wadl:param><wadl:param name="search" style="query"><wadl:doc>(optional) String to search for. It will be searched in Order number, Customer name, Agent code and payment transaction codes (I.e. voucher Code).</wadl:doc></wadl:param><wadl:param name="updatedSince" style="query"><wadl:doc>(optional) Only load bookings updated after this time. ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response bookings will contain an array of Booking, ordered by newest created first</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="categories"><wadl:method name="GET"><wadl:doc>Load all categories matching a search string. If the search string is empty, all categories will be returned.
This will only return categories belonging to the company doing the request.</wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="search" style="query"><wadl:doc>String to search for. It will be searched in category name</wadl:doc></wadl:param><wadl:param name="visible" style="query"><wadl:doc>Boolean. Return only public categories if it is set to true, only private if it is set to false, or both if it not set.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response categories will contain an array of Category</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="customers"><wadl:method name="POST"><wadl:doc>Create a new customer</wadl:doc><wadl:request><wadl:doc>Customer object should include at least a firstName or an Email</wadl:doc><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:customer">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>Response data will contain the created Customer</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="customers"><wadl:method name="GET"><wadl:doc>Search customers in your account</wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="search" style="query"><wadl:doc>String to search for. It will be searched in First & Last name, company name and email.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response customers will contain an array of Customer</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="ping"><wadl:method name="GET"><wadl:doc>Ping service to test connectivity and validate your API Key</wadl:doc><wadl:response><wadl:doc>Response will only contain a requestStatus element</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="products"><wadl:method name="GET"><wadl:doc>Load all products matching a search string. If the search string is empty, all your products will be returned.
Use this service when acting as a supplier, to load your own products.
If you're acting as an agent, use the /products/marketplace service</wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="search" style="query"><wadl:doc>String to search for. It will be searched in product name, product code and internal code.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response products will contain an array of Product</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="products"><wadl:method name="POST"><wadl:doc>Create a new product</wadl:doc><wadl:request><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:product">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>created product</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="resources"><wadl:method name="GET"><wadl:doc>Retrieve all supplier resources. Paging using limit and offset is applied to the result list.</wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>All supplier resources. Result list is limited by paging parameters.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="vouchers"><wadl:method name="GET"><wadl:doc>Search vouchers in your account</wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="search" style="query"><wadl:doc>String to search for. It will be searched in voucher codes</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response vouchers will contain an array of Voucher</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="availability/batch"><wadl:method name="POST"><wadl:doc>Batch Update availability for a specific product and time period.
This will update availability for all the sessions that start in that time range.
Product code is optional, all sessions for all products will be updated if it is empty.
You can use this service to blackout periods (I.e. set availability to 0 for a full day).
Maximum range is one week.
This can only update sessions from products with InventoryMode = SESSION_SEATS.</wadl:doc><wadl:request><wadl:doc>Session data must only include one of seats or seatsAvailable. Example:
<pre><code>{
     "startTime": "2014-11-11T00:00:00Z",
     "endTime": "2014-11-11T23:59:59Z",
     "productCode": "P123456",
     "seatsAvailable": "0"
 }
 
 OR
 
 {
     "startTime": "2014-11-11T00:00:00Z",
     "endTime": "2014-11-11T23:59:59Z",
     "productCode": "P123456",
     "seats": "30"
 }
 
 OR
 
 {
     "startTime": "2014-11-11T00:00:00Z",
     "endTime": "2014-11-11T23:59:59Z",
     "productCode": "P123456",
     "priceOptions": [
        {
          "price": 90,
          "label": "Adult"
        }
      ]
 }
 </code></pre>

If you send "seatsAvailable", sessions will be updated for the current availability to become this number.
If you send "seats", the total seats capacity of sessions will be updated, regardless of how many are already booked.
If you send both, only seatsAvailable will be used.
If you send priceOptions, they will override the default price options of the existing session.</wadl:doc><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:session">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>Response data will contain the updated Sessions details</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="availability/{sessionId}"><wadl:method name="PUT"><wadl:doc>Update availability for a specific session</wadl:doc><wadl:request><wadl:doc>Session data must only include one of seats, seatsAvailable or priceOptions. Example:
<pre><code>{
     "seatsAvailable": "0"
 }
 
 OR
 
 {
     "seats": "30"
 }
 
 OR
 
 {
     "priceOptions": [
        {
          "price": 90,
          "label": "Adult"
        }
      ]
 }
 </code></pre>

If you send "seatsAvailable", the session will be updated for the current availability to become this number.
If you send "seats", the total seats capacity of the session will be updated, regardless of how many are already booked.
If you send both, only seatsAvailable will be used.</wadl:doc><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:session">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>Response data will contain the updated Session details</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="sessionId" style="template"><wadl:doc>Rezdy internal ID for that session</wadl:doc></wadl:param></wadl:resource><wadl:resource path="availability/{sessionId}"><wadl:method name="DELETE"><wadl:doc>Delete a single session</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>Response will only contain the requestStatus element</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="sessionId" style="template"><wadl:doc>Session Id to delete</wadl:doc></wadl:param></wadl:resource><wadl:resource path="bookings/quote"><wadl:method name="POST"><wadl:doc>Get a quote for a booking.
Use this service to validate your Booking object before making the actual booking.
Business rules will be validated, and all amounts and totals will be populated.
It is not a Booking: It does not have any status or booking number. A Quote does not reserve any seat.</wadl:doc><wadl:request><wadl:doc>Booking object should only contain the fields required to create a booking. Please check our Getting Started guides for sample requests.</wadl:doc><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:booking">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>Response data will contain the booking with all amounts and totals populated.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="bookings/{orderNumber}"><wadl:method name="GET"><wadl:doc>Load an existing booking by Order Number</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>Response data will contain the Booking</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="orderNumber" style="template"><wadl:doc>Order number to search (R123456)</wadl:doc></wadl:param></wadl:resource><wadl:resource path="bookings/{orderNumber}"><wadl:method name="DELETE"><wadl:doc>Cancel an existing booking and send notifications about the cancellation. In case of an Automated Payment booking, will also refund payment.</wadl:doc><wadl:request><wadl:param name="sendNotifications" style="query"><wadl:doc>Flag to control if a booking confirmation email should be send to the customer after this booking is canceled. Default (if not specified) is true.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response data will contain the canceled Booking</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="orderNumber" style="template"><wadl:doc>Order number to cancel (R123456)</wadl:doc></wadl:param></wadl:resource><wadl:resource path="bookings/{orderNumber}"><wadl:method name="PUT"><wadl:doc>Update an existing booking.

<p>It's not a partial update, <b>full booking object, as it was retrieved from the booking create or search services</b>, has to be send back to the request payload.
Otherwise, the properties or relations which <i>are currently supported (see below)</i> and they are not sent, will be deleted. </p>

<b>Order of the items in arrays have to be preserved for the following fields "items", "participants".</b>

<p><b>Currently supported</b> update of properties:</p>
<ul>
<li>
Booking.status  which can be used to do a 2-step booking process - 1 step : create order with status PROCESSING, 2 step: update status to CONFIRMED/ABANDONED_CART. <br/>
Be aware that status update to CANCELLED, is not same as delete order, payments will not get refunded in this case.<br/>
</li>
<li>
Booking.customer - all customer data can be updated
</li>
<li>
Booking.field - all 'per booking' booking fields values
</li>
<li>
Booking.item.participant.field - all 'per participant' booking fields values
</li>
<li>
Booking.resellerComments - both the booking agent and the supplier can update the booking resellerComments
</li>
</ul></wadl:doc><wadl:request><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:booking">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>Response data will contain the updated Booking object</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="orderNumber" style="template"><wadl:doc></wadl:doc></wadl:param></wadl:resource><wadl:resource path="categories/{categoryId}"><wadl:method name="GET"><wadl:doc>Load an existing category by Id</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>Response data will contain the requested category</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="categoryId" style="template"><wadl:doc>Category ID</wadl:doc></wadl:param></wadl:resource><wadl:resource path="companies/{companyAlias}"><wadl:method name="GET"><wadl:doc>Load an existing Company by it's alias in Rezdy.</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>Response data will contain a list with the requested Company</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="companyAlias" style="template"><wadl:doc></wadl:doc></wadl:param></wadl:resource><wadl:resource path="customers/{customerId}"><wadl:method name="GET"><wadl:doc>Load an existing customer by Id</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>Response data will contain the requested Customer</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="customerId" style="template"><wadl:doc>Id to search for</wadl:doc></wadl:param></wadl:resource><wadl:resource path="customers/{customerId}"><wadl:method name="DELETE"><wadl:doc>Delete a customer</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>Response will only contain the requestStatus element</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="customerId" style="template"><wadl:doc>Customer Id to delete</wadl:doc></wadl:param></wadl:resource><wadl:resource path="manifest/checkinOrderSession"><wadl:method name="PUT"><wadl:doc>Place Check-in a / No show flag for the specified order item. The order item is identified by order number, product code and start time (or start time local).
Only available for the supplier API.</wadl:doc><wadl:request><wadl:param name="checkin" style="query"><wadl:doc>Specifies a Check-in (true) or No show (false) flag to use</wadl:doc></wadl:param><wadl:param name="orderNumber" style="query"><wadl:doc>Order number</wadl:doc></wadl:param><wadl:param name="productCode" style="query"><wadl:doc>Product code in format P12345.</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Session start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Session start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Standard response with Request Status object, where success is set to 'true', if there was not error during the request processing, success : 'false' with error message otherwise.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="manifest/checkinOrderSession"><wadl:method name="DELETE"><wadl:doc>Remove Check-in / No show flag for the specified order item. The order session is identified by order number, product code and start time (or start time local).
Only available for the supplier API.</wadl:doc><wadl:request><wadl:param name="checkin" style="query"><wadl:doc>Specifies a Check-in (true) or No show (false) flag to use</wadl:doc></wadl:param><wadl:param name="orderNumber" style="query"><wadl:doc>Order number</wadl:doc></wadl:param><wadl:param name="productCode" style="query"><wadl:doc>Product code in format P12345.</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Session start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Session start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Standard response with Request Status object, where success is set to 'true', if there was not error during the request processing, success : 'false' with error message otherwise.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="manifest/checkinOrderSession"><wadl:method name="GET"><wadl:doc>Retrieves the Check-in status. Checks if the specified order item session was checked in. The order session is identified by order number, product code and start time (or start time local).
Only available for the supplier API.</wadl:doc><wadl:request><wadl:param name="orderNumber" style="query"><wadl:doc>Order number : optional, is specified, only the status of the order item session from the specified order will be retrieved.</wadl:doc></wadl:param><wadl:param name="productCode" style="query"><wadl:doc>Product code in format P12345.</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Session start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Session start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Check-in status - true if specified order item session was checked in, false otherwise.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="manifest/checkinSession"><wadl:method name="PUT"><wadl:doc>Store Check-in / No show flag for everyone in a specified session. The session is identified by product code and start time (or start time local).
Only available for the supplier API.</wadl:doc><wadl:request><wadl:param name="checkin" style="query"><wadl:doc>Specifies a Check-in (true) or No show (false) flag to use</wadl:doc></wadl:param><wadl:param name="productCode" style="query"><wadl:doc>Product code in format P12345.</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Session start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Session start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Standard response with Request Status object, where success is set to 'true', if there was not error during the request processing, success : 'false' with error message otherwise.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="manifest/checkinSession"><wadl:method name="DELETE"><wadl:doc>Remove Check-in / No show flag from everyone in the whole session. The session is identified by product code and start time (or start time local).
Only available for the supplier API.</wadl:doc><wadl:request><wadl:param name="checkin" style="query"><wadl:doc>Specifies a Check-in (true) or No show (false) flag to use</wadl:doc></wadl:param><wadl:param name="productCode" style="query"><wadl:doc>Product code in format P12345.</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Session start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Session start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Standard response with Request Status object, where success is set to 'true', if there was not error during the request processing, success : 'false' with error message otherwise.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="manifest/checkinSession"><wadl:method name="GET"><wadl:doc>Retrieves the Check-in status. Checks if everyone in the whole session was checked in. The session is identified by product code and start time (or start time local).
Only available for the supplier API.</wadl:doc><wadl:request><wadl:param name="productCode" style="query"><wadl:doc>Product code in format P12345.</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Session start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Session start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Check-in status - true if everyone in the session was checked in, false otherwise.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="products/marketplace"><wadl:method name="GET"><wadl:doc>Load products from the Rezdy Marketplace.
Use this service when acting as an agent, to find products that are available for you to book.</wadl:doc><wadl:request><wadl:param name="automatedPayment" style="query"><wadl:doc>If true, this will only return products with an automated commission payment. If false, this will only return products with a manual commission payment. Leave empty for both</wadl:doc></wadl:param><wadl:param name="category" style="query"><wadl:doc></wadl:doc></wadl:param><wadl:param name="language" style="query"><wadl:doc>optional, if set filters only products with the specified languages. Multiple values are allowed (&amp;language=en_au&amp;language=sk). Format of the language is ISO 639 two-letter code with BCP 47 language variants, separated by underscore e.g. en_au. use only 2 letters code in order to search all language variants, e.g. en, will retrieve all variants en_au, en_us, ...</wadl:doc></wadl:param><wadl:param name="latitude" style="query"><wadl:doc>Latitude to sort results from. When sending a center point lat/lng, we will return products up to 500km away, ordered by distance from that point.</wadl:doc></wadl:param><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="longitude" style="query"><wadl:doc>Longitude to sort results from.</wadl:doc></wadl:param><wadl:param name="marketplaceRates" style="query"><wadl:doc>boolean, set to true to only return products with a marketplace rate.</wadl:doc></wadl:param><wadl:param name="minQuantity" style="query"><wadl:doc>Minimum availability for the returned products</wadl:doc></wadl:param><wadl:param name="negotiatedRates" style="query"><wadl:doc>boolean, set to true to only return products with a negotiated rate. If both marketplaceRates and negotiatedRates are true, all products with a rate will be returned</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="preferredRates" style="query"><wadl:doc>Deprecated, 'Preferred Rates' have been renamed to 'Negotiated Rates'. Use negotiatedRates parameter instead, preferredRates will be removed in the next version of API.</wadl:doc></wadl:param><wadl:param name="privateRates" style="query"><wadl:doc>Deprecated, 'Private Rates' have been renamed to 'Marketplace Rates'. Use marketplaceRates parameter instead, privateRates will be removed in the next version of API.</wadl:doc></wadl:param><wadl:param name="search" style="query"><wadl:doc>String to search for. It will be searched in product name, product code and supplier company name.</wadl:doc></wadl:param><wadl:param name="startDate" style="query"><wadl:doc>Optional date in ISO 8601 format, e.g. 2014-03-01T00:00:00Z If a date is sent, this will only return products that are available within</wadl:doc></wadl:param><wadl:param name="supplierAlias" style="query"><wadl:doc>Optional supplier alias to limit results to a single supplier's products. The Alias is part of the supplier's booking form URL, for example alias is "demo" in https://demo.rezdy.com"</wadl:doc></wadl:param><wadl:param name="supplierId" style="query"><wadl:doc>Optional supplier id to limit results to a single supplier's products.</wadl:doc></wadl:param><wadl:param name="updatedSince" style="query"><wadl:doc>Optional date in ISO 8601 format, e.g. 2014-03-01T00:00:00Z If a date is sent, this will only return products that were updated since the specified date.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response products will contain an array of Product</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="products/partners"><wadl:method name="GET"><wadl:doc></wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="search" style="query"><wadl:doc>String to search for. It will be searched in product name, product code and internal code.</wadl:doc></wadl:param><wadl:param name="supplierId" style="query"><wadl:doc>The supplier id.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response products will contain an array of Product</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="products/{productCode}"><wadl:method name="GET"><wadl:doc>Load an existing product by Product Code</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>Response data will contain the requested product</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="productCode" style="template"><wadl:doc>Product Code to search for (P12345)</wadl:doc></wadl:param></wadl:resource><wadl:resource path="products/{productCode}"><wadl:method name="PUT"><wadl:doc>Update a product.

<ol>These fields are currently supported in the API update
<li>name - updates if the value is not empty</li>
<li>shortDescription - updates if the value is not empty</li>
<li>description - updates if the value is not empty</li>
<li>advertisedPrice - updates if the advertisedPrice is not empty and greater than 0</li>
</ol></wadl:doc><wadl:request><wadl:representation mediaType="application/json">
          </wadl:representation><wadl:representation mediaType="application/xml" element="rezdy:product">
          </wadl:representation></wadl:request><wadl:response><wadl:doc>created product</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="productCode" style="template"><wadl:doc></wadl:doc></wadl:param></wadl:resource><wadl:resource path="products/{productCode}"><wadl:method name="DELETE"><wadl:doc>Delete a product</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>response with success or error message</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="productCode" style="template"><wadl:doc></wadl:doc></wadl:param></wadl:resource><wadl:resource path="resources/session"><wadl:method name="GET"><wadl:doc>Retrieve resources assigned to the session. Session has to be specified either by sessionId or by product code and start time (or start time local).</wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="productCode" style="query"><wadl:doc>Product code in format P12345.</wadl:doc></wadl:param><wadl:param name="sessionId" style="query"><wadl:doc>Session Identifier</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Session start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Session start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>All resources assigned to the session matched by the request parameters. Result list is limited by paging parameters.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method></wadl:resource><wadl:resource path="vouchers/{voucherCode}"><wadl:method name="GET"><wadl:doc>Load an existing voucher by Voucher Code</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>Response data will contain the requested Voucher</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="voucherCode" style="template"><wadl:doc>Voucher to search for.</wadl:doc></wadl:param></wadl:resource><wadl:resource path="categories/{categoryId}/products"><wadl:method name="GET"><wadl:doc>Load all products within a category.</wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response products will contain an array of Product</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="categoryId" style="template"><wadl:doc>The category id.</wadl:doc></wadl:param></wadl:resource><wadl:resource path="companies/alias/{companyAlias}"><wadl:method name="GET"><wadl:doc>Load an existing Company by it's alias in Rezdy.</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>ResponseCompany data will contain the requested Company</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="companyAlias" style="template"><wadl:doc></wadl:doc></wadl:param></wadl:resource><wadl:resource path="products/{productCode}/images"><wadl:method name="POST"><wadl:doc>Add Product Image.

filename is mandatory. It has to be specified either in the attachment, part of the form-data parameter 'file', or in the attachment, as a form-data parameter 'filename', which is common format for PHP frameworks, which are sending an array of attachments.</wadl:doc><wadl:request><wadl:representation mediaType="multipart/form-data">
          </wadl:representation></wadl:request><wadl:response><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="productCode" style="template"><wadl:doc>product to add the image to</wadl:doc></wadl:param></wadl:resource><wadl:resource path="products/{productCode}/pickups"><wadl:method name="GET"><wadl:doc>Get a list of pickup locations configured for this product.</wadl:doc><wadl:request><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>Response data will contain the pickup locations of this product, if the pickup is configured for it, empty response envelope otherwise.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="productCode" style="template"><wadl:doc>Product Code to search pickup locations for (P12345)</wadl:doc></wadl:param></wadl:resource><wadl:resource path="resources/{resourceId}/sessions"><wadl:method name="GET"><wadl:doc>Retrieves all sessions for the specified resource within the start/end datetime range. Paging using limit and offset is applied to the result list.</wadl:doc><wadl:request><wadl:param name="endTime" style="query"><wadl:doc>Session end time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="endTimeLocal" style="query"><wadl:doc>Session end time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param><wadl:param name="limit" style="query"><wadl:doc>How many results are returned per request. Maximum is 100, which also a default, when not specified.</wadl:doc></wadl:param><wadl:param name="offset" style="query"><wadl:doc>Offset of the first result to return. Default to 0.</wadl:doc></wadl:param><wadl:param name="startTime" style="query"><wadl:doc>Session start time in ISO 8601 format, e.g. 2014-03-01T00:00:00Z</wadl:doc></wadl:param><wadl:param name="startTimeLocal" style="query"><wadl:doc>Session start time in supplier's local timezone, format is yyyy-MM-dd HH:mm:ss, e.g. 2014-03-01 00:00:00</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>All sessions, where the resource, matched by the request parameters, is used. Result list is limited by paging parameters.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="resourceId" style="template"><wadl:doc>Session Identifier.</wadl:doc></wadl:param></wadl:resource><wadl:resource path="products/{productCode}/images/{mediaId}"><wadl:method name="DELETE"><wadl:doc>Delete an image from a product</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="productCode" style="template"><wadl:doc></wadl:doc></wadl:param><wadl:param name="mediaId" style="template"><wadl:doc></wadl:doc></wadl:param></wadl:resource><wadl:resource path="resources/{resourceId}/session/{sessionId}"><wadl:method name="PUT"><wadl:doc>Add the resource to the session.</wadl:doc><wadl:request><wadl:param name="resourceOrder" style="query"><wadl:doc>Order of the resource in the session. Optional, if not specified, will by calculated by the system to fill the first gap if gap is found, or the highest number among existing resources.</wadl:doc></wadl:param></wadl:request><wadl:response><wadl:doc>The resource data, if the resource was successfully attached to the session.
The request status, with success 'false' with error message 'Session resource already exist.', if the relationship already exists.</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="resourceId" style="template"><wadl:doc>Resource Identifier</wadl:doc></wadl:param><wadl:param name="sessionId" style="template"><wadl:doc>Session Identifier</wadl:doc></wadl:param></wadl:resource><wadl:resource path="resources/{resourceId}/session/{sessionId}"><wadl:method name="DELETE"><wadl:doc>Removes the resource from the session.</wadl:doc><wadl:request>
        </wadl:request><wadl:response><wadl:doc>The removed resource data, if the resource was successfully removed to the session.
The request status, with success 'false' with error message 'Session resource does not exist.', if the session-resource was not found</wadl:doc><wadl:representation mediaType="application/json"/><wadl:representation mediaType="application/xml"/></wadl:response></wadl:method><wadl:param name="resourceId" style="template"><wadl:doc>Resource Identifier</wadl:doc></wadl:param><wadl:param name="sessionId" style="template"><wadl:doc>Session Identifier</wadl:doc></wadl:param></wadl:resource></wadl:resources></wadl:application>
